# Supabase - Variables de entorno
# Obten estos valores desde: https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://ozmygvfldvnyyfiwouiz.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96bXlndmZsZHZueXlmaXdvdWl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NjIwMzYsImV4cCI6MjA5ODMzODAzNn0.OlECJd2WN0NCDXc74wtxhqn5Zp_cfOHZXS0zL4VkoUU

# Variables del lado del servidor (no expuestas al cliente)
SUPABASE_URL=https://ozmygvfldvnyyfiwouiz.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96bXlndmZsZHZueXlmaXdvdWl6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc2MjAzNiwiZXhwIjoyMDk4MzM4MDM2fQ.NFuxYjPpeu69evVw2fwqwUBXf6KPnTXtMycIvV8Lo8M
